Data/model_mlo_512_512_2.h5
Data/dataset1/BSE/*
!Data/dataset1/BSE/.Readme.txt
Data/dataset1/CL/*
!Data/dataset1/CL/.Readme.txt
Data/__pycache__/
Data/dataset1/CL_segmented/*
!Data/dataset1/CL_segmented/.Readme.txt
src/assesSEM.egg-info/*
src/assesSEM/__pycache__/
tests/__pycache__/
.coverage
tests/functional/__pycache__/
tests/unit/__pycache__/
src/assesSEM/predicting/__pycache__/
Data/dataset1/MM/*
Data/dataset1/CL_segmented/*.csv 
